@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.wrapper {
}

.page-name {
    font-size: 18px;
    line-height: 18px;
}

.item {
    display: inline-block;
    width: 180px;
    height: 220px;
    box-sizing: border-box;
    background-color: lightgray;
    border-radius: 24px;
    padding: 15px;
}

.item-photo {
    background-color: #ffe49d;
    width: 150px;
    height: 140px;
    border-radius: 24px;
}

.buy-button {
    width: 150px;
    height: 35px;
    margin-top: 16px;
    background-color: #555555;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
